body {
  background-color: black;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #edf2f7;
  }

  .logo {
    filter: brightness(0.2);
  }
}

img[lazy] {
  transition: all 0.3s ease-out;
}

img[lazy="loading"] {
  opacity: 0;
}

img[lazy="loaded"] {
  opacity: 1;
}

.has-background {
  transition: background-color 0.3s ease-out;
  background-blend-mode: lighten;
  background-color: rgba(74, 85, 104, 0.8);
}

.has-background[lazy="loaded"] {
  background-color: rgba(74, 85, 104, 0);
}

ul {
  list-style-type: circle;
}

.bg-twitter {
  background-color: #55acee;
}

.text-twitter {
  color: #55acee;
}

.bg-github {
  background-color: #24292e;
}

.text-github {
  color: #24292e;
}
